# Final Project Submission
Please fill out:

-  Student name: Steven Rosa
-  Student pace: part time
-  Scheduled project review date/time: Mon 4 Feb 2019 2pm EST
-  Instructor name: Jeff Herman
-  Blog post URL:

# Northwind Data Analysis

In [1]:
#Import libraries
import sqlalchemy #ORM
from sqlalchemy import create_engine #To connect to the database
from sqlalchemy.orm import Session, sessionmaker #To interact with the database as object
from sqlalchemy import inspect #To look at tables and column names
from sqlalchemy import MetaData #to reflect the engine object 
from sqlalchemy.ext.automap import automap_base # to create mappings from the reflection
import pandas as pd #To read in parts of the database as DataFrames

In [ ]:
#Write functions

In [2]:
#Instantiate a session of the ORM
#Connect to the sqlite database file
engine = create_engine('sqlite:///Northwind_small.sqlite', echo = True)
#Bind a session object to the engine
Session = sessionmaker(bind=engine)
#Instantiate the session
session = Session()

In [8]:
#An object to get a first look at the database
inspector = inspect(engine)

In [9]:
table_names = inspector.get_table_names()

2019-01-28 10:45:24,134 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

INFO:sqlalchemy.engine.base.Engine:SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

2019-01-28 10:45:24,136 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [10]:
table_names

['Category',
 'Customer',
 'CustomerCustomerDemo',
 'CustomerDemographic',
 'Employee',
 'EmployeeTerritory',
 'Order',
 'OrderDetail',
 'Product',
 'Region',
 'Shipper',
 'Supplier',
 'Territory']

In [23]:
Order_columns = (inspector.get_columns('Order'))

In [25]:
for column in Order_columns:
    print(column['name'])

Id
CustomerId
EmployeeId
OrderDate
RequiredDate
ShippedDate
ShipVia
Freight
ShipName
ShipAddress
ShipCity
ShipRegion
ShipPostalCode
ShipCountry

In [53]:
#Pull raw results from the database
#conn = engine.connect()
#results = conn.execute('''SELECT *
#                            FROM Category
#                        ;''')
#print(results.fetchall())

In [52]:
###conn = engine.connect()
#results = conn.execute("SELECT * FROM [Order];")
#df = pd.DataFrame(results.fetchall())
#df.head()

In [54]:
#results = conn.execute('''SELECT *
#                            FROM OrderDetail
#                        ;''')
#df = pd.DataFrame(results.fetchall())
#df.head()

In [55]:
#df = pd.read_sql_query('''SELECT * 
#                           FROM [Order]
#                       ;''', engine)
#df.head()

In [47]:
#df = pd.read_sql_query("SELECT * FROM [Order] WHERE CUSTOMERId = 'VINET'", engine)
#df.head()

In [56]:
df = pd.read_sql_query("""SELECT OrderDetail.*, [Order].CustomerId 
                            FROM OrderDetail 
                            INNER JOIN [Order] on OrderDetail.OrderId = [Order].Id
                            WHERE OrderDetail.Discount != 0.0
                        """, engine)
df.head()

2019-01-28 13:38:29,447 INFO sqlalchemy.engine.base.Engine SELECT OrderDetail.*, [Order].CustomerId
                            FROM OrderDetail
                            INNER JOIN [Order] on OrderDetail.OrderId = [Order].Id
                            WHERE OrderDetail.Discount != 0.0

INFO:sqlalchemy.engine.base.Engine:SELECT OrderDetail.*, [Order].CustomerId
                            FROM OrderDetail
                            INNER JOIN [Order] on OrderDetail.OrderId = [Order].Id
                            WHERE OrderDetail.Discount != 0.0

2019-01-28 13:38:29,449 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

         Id  OrderId  ProductId  UnitPrice  Quantity  Discount CustomerId
0  10250/51    10250         51       42.4        35      0.15      HANAR
1  10250/65    10250         65       16.8        15      0.15      HANAR
2  10251/22    10251         22       16.8         6      0.05      VICTE
3  10251/57    10251         57       15.6        15      0.05      VICTE
4  10252/20    10252         20       64.8        40      0.05      SUPRD

In [ ]:
#WHERE OrderDetail.Discount != 0.0

In [65]:
#Look at all orders with and without discounts
df = pd.read_sql_query("""SELECT OrderDetail.*, [Order].CustomerId
                            FROM OrderDetail 
                            INNER JOIN [Order] on OrderDetail.OrderId = [Order].Id
                            ORDER BY [Order].CustomerId DESC, [Order].Id DESC, OrderDetail.Discount DESC
                        """, engine)

2019-01-28 13:46:45,807 INFO sqlalchemy.engine.base.Engine SELECT OrderDetail.*, [Order].CustomerId
                            FROM OrderDetail
                            INNER JOIN [Order] on OrderDetail.OrderId = [Order].Id
                            ORDER BY [Order].CustomerId DESC, [Order].Id DESC, OrderDetail.Discount DESC

INFO:sqlalchemy.engine.base.Engine:SELECT OrderDetail.*, [Order].CustomerId
                            FROM OrderDetail
                            INNER JOIN [Order] on OrderDetail.OrderId = [Order].Id
                            ORDER BY [Order].CustomerId DESC, [Order].Id DESC, OrderDetail.Discount DESC

2019-01-28 13:46:45,809 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [66]:
#Look at all orders with and without discounts
df

            Id  OrderId  ProductId  UnitPrice  Quantity  Discount CustomerId
0     11044/62    11044         62      49.30        12      0.00      WOLZA
1     10998/24    10998         24       4.50        12      0.00      WOLZA
2     10998/61    10998         61      28.50         7      0.00      WOLZA
3     10998/74    10998         74      10.00        20      0.00      WOLZA
4     10998/75    10998         75       7.75        30      0.00      WOLZA
5     10906/61    10906         61      28.50        15      0.00      WOLZA
6     10870/35    10870         35      18.00         3      0.00      WOLZA
7     10870/51    10870         51      53.00         2      0.00      WOLZA
8      10792/2    10792          2      19.00        10      0.00      WOLZA
9     10792/54    10792         54       7.45         3      0.00      WOLZA
10    10792/68    10792         68      12.50        15      0.00      WOLZA
11     10611/1    10611          1      18.00         6      0.00      WOLZA
12     10611/2    10611          2      19.00        10      0.00      WOLZA
13    10611/60    10611         60      34.00        15      0.00      WOLZA
14    10374/31    10374         31      10.00        30      0.00      WOLZA
15    10374/58    10374         58      10.60        15      0.00      WOLZA
16     11005/1    11005          1      18.00         2      0.00      WILMK
17    11005/59    11005         59      55.00        10      0.00      WILMK
18    10910/19    10910         19       9.20        12      0.00      WILMK
19    10910/49    10910         49      20.00        10      0.00      WILMK
20    10910/61    10910         61      28.50         5      0.00      WILMK
21    10879/40    10879         40      18.40        12      0.00      WILMK
22    10879/65    10879         65      21.05        10      0.00      WILMK
23    10879/76    10879         76      18.00        10      0.00      WILMK
24    10873/21    10873         21      10.00        20      0.00      WILMK
25    10873/28    10873         28      45.60         3      0.00      WILMK
26     10695/8    10695          8      40.00        10      0.00      WILMK
27    10695/12    10695         12      38.00         4      0.00      WILMK
28    10695/24    10695         24       4.50        20      0.00      WILMK
29    10673/16    10673         16      17.45         3      0.00      WILMK
...        ...      ...        ...        ...       ...       ...        ...
2125  10573/53    10573         53      32.80        25      0.00       ANTO
2126  10535/11    10535         11      21.00        50      0.10       ANTO
2127  10535/40    10535         40      18.40        10      0.10       ANTO
2128  10535/57    10535         57      19.50         5      0.10       ANTO
2129  10535/59    10535         59      55.00        15      0.10       ANTO
2130  10507/43    10507         43      46.00        15      0.15       ANTO
2131  10507/48    10507         48      12.75        15      0.15       ANTO
2132  10365/11    10365         11      16.80        24      0.00       ANTO
2133  10926/11    10926         11      21.00         2      0.00      ANATR
2134  10926/13    10926         13       6.00        10      0.00      ANATR
2135  10926/19    10926         19       9.20         7      0.00      ANATR
2136  10926/72    10926         72      34.80        10      0.00      ANATR
2137  10759/32    10759         32      32.00        10      0.00      ANATR
2138  10625/14    10625         14      23.25         3      0.00      ANATR
2139  10625/42    10625         42      14.00         5      0.00      ANATR
2140  10625/60    10625         60      34.00        10      0.00      ANATR
2141  10308/69    10308         69      28.80         1      0.00      ANATR
2142  10308/70    10308         70      12.00         5      0.00      ANATR
2143  11011/58    11011         58      13.25        40      0.05      ALFKI
2144  11011/71    11011         71      21.50        20      0.00      ALFKI
2145   10952/6    10952          6      25.00        16      0.05      ALFKI
2146  10952/28    10952         28      45.60         2      0.00      ALFKI
2147  10835/77    10835         77      13.00         2      0.20      ALFKI
2148  10835/59    10835         59      55.00        15      0.00      ALFKI
2149   10702/3    10702          3      10.00         6      0.00      ALFKI
2150  10702/76    10702         76      18.00        15      0.00      ALFKI
2151  10692/63    10692         63      43.90        20      0.00      ALFKI
2152  10643/28    10643         28      45.60        15      0.25      ALFKI
2153  10643/39    10643         39      18.00        21      0.25      ALFKI
2154  10643/46    10643         46      12.00         2      0.25      ALFKI

[2155 rows x 7 columns]

In [75]:
#Look at number of orders per cust id
df = pd.read_sql_query("""SELECT [Order].CustomerId, Count(*) orders
                            FROM OrderDetail 
                            INNER JOIN [Order] on OrderDetail.OrderId = [Order].Id
                            GROUP BY [Order].CustomerId
                            ORDER BY [Order].CustomerId DESC
                        """, engine)

2019-01-28 14:10:42,126 INFO sqlalchemy.engine.base.Engine SELECT [Order].CustomerId, Count(*) orders
                            FROM OrderDetail
                            INNER JOIN [Order] on OrderDetail.OrderId = [Order].Id
                            GROUP BY [Order].CustomerId
                            ORDER BY [Order].CustomerId DESC

INFO:sqlalchemy.engine.base.Engine:SELECT [Order].CustomerId, Count(*) orders
                            FROM OrderDetail
                            INNER JOIN [Order] on OrderDetail.OrderId = [Order].Id
                            GROUP BY [Order].CustomerId
                            ORDER BY [Order].CustomerId DESC

2019-01-28 14:10:42,127 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [77]:
#Look at number of orders per cust id
df.head()

  CustomerId  orders
0      WOLZA      16
1      WILMK      17
2      WHITC      40
3      WELLI      19
4      WARTH      37

In [45]:
#Look at the levels of discount

df = pd.read_sql_query("""SELECT OrderDetail.*
                            FROM OrderDetail 
                        """, engine)
df['Discount'].value_counts()

2019-01-28 11:21:40,070 INFO sqlalchemy.engine.base.Engine SELECT OrderDetail.*
                            FROM OrderDetail

INFO:sqlalchemy.engine.base.Engine:SELECT OrderDetail.*
                            FROM OrderDetail

2019-01-28 11:21:40,073 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

0.00    1317
0.05     185
0.10     173
0.20     161
0.15     157
0.25     154
0.03       3
0.02       2
0.01       1
0.04       1
0.06       1
Name: Discount, dtype: int64

In [78]:
#Look at how many customers each company has
df = pd.read_sql_query("""SELECT Customer.Id, Customer.CompanyName
                            FROM Customer
                            ORDER BY Customer.CompanyName
                        """, engine)

2019-01-28 14:21:37,040 INFO sqlalchemy.engine.base.Engine SELECT Customer.Id, Customer.CompanyName
                            FROM Customer
                            ORDER BY Customer.CompanyName

INFO:sqlalchemy.engine.base.Engine:SELECT Customer.Id, Customer.CompanyName
                            FROM Customer
                            ORDER BY Customer.CompanyName

2019-01-28 14:21:37,042 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [83]:
#Every company has only one customer. Orders can therefore be counted by customer or by company.
sum(df['CompanyName'].value_counts() > 1)

0

In [4]:
# JUST AN EXAMPLE
"""SELECT o.ID, c.CompanyName, Count(*) num_orders 
    FROM [Order] o
    INNER JOIN Customer c on o.CustomerID = c.ID 
    GROUP BY c.CompanyName 
    ORDER BY num_orders DESC"""

df = pd.read_sql_query("""SELECT o.ID, c.CompanyName, Count(*) num_orders FROM [Order] \
o INNER JOIN Customer c on o.CustomerID = c.ID GROUP BY c.CompanyName ORDER BY num_orders DESC""", engine)
df.head()

2019-01-28 10:39:55,275 INFO sqlalchemy.engine.base.Engine SELECT o.ID, c.CompanyName, Count(*) num_orders FROM [Order] o INNER JOIN Customer c on o.CustomerID = c.ID GROUP BY c.CompanyName ORDER BY num_orders DESC
2019-01-28 10:39:55,276 INFO sqlalchemy.engine.base.Engine ()

      Id                   CompanyName  num_orders
0  11064            Save-a-lot Markets          31
1  11072                  Ernst Handel          30
2  11021                    QUICK-Stop          28
3  11050                Folk och fä HB          19
4  11063  Hungry Owl All-Night Grocers          19

In [70]:
#Instantiate metadata to reflect the engine
#metadata = MetaData()
#metadata.reflect(engine)

In [4]:
#Create mappings to treat the database elements as OOP objects
Base = automap_base(metadata=metadata)
Base.prepare()

In [ ]:
#['Category', 'Customer', 'CustomerCustomerDemo', 'CustomerDemographic', 
#'Employee', 'EmployeeTerritory', 'Order', 'OrderDetail', 'Product', 'Region', 'Shipper', 'Supplier', 'Territory']

In [5]:
#Create an object for each table
Category = Base.classes.Category
Customer = Base.classes.Customer
CustomerCustomerDemo = Base.classes.CustomerCustomerDemo
CustomerDemographic = Base.classes.CustomerDemographic
Employee = Base.classes.Employee
EmployeeTerritory = Base.classes.EmployeeTerritory
Order = Base.classes.Order
OrderDetail = Base.classes.OrderDetail
Product = Base.classes.Product
Region = Base.classes.Region
Shipper = Base.classes.Shipper
Supplier = Base.classes.Supplier
Territory = Base.classes.Territory

In [6]:
categories = session.query(Category).all()

for cat in categories:
    print(cat.CategoryName, cat.Description)

2019-01-27 15:22:07,052 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-27 15:22:07,053 INFO sqlalchemy.engine.base.Engine SELECT "Category"."Id" AS "Category_Id", "Category"."CategoryName" AS "Category_CategoryName", "Category"."Description" AS "Category_Description"
FROM "Category"
2019-01-27 15:22:07,054 INFO sqlalchemy.engine.base.Engine ()
Beverages Soft drinks, coffees, teas, beers, and ales
Condiments Sweet and savory sauces, relishes, spreads, and seasonings
Confections Desserts, candies, and sweet breads
Dairy Products Cheeses
Grains/Cereals Breads, crackers, pasta, and cereal
Meat/Poultry Prepared meats
Produce Dried fruit and bean curd
Seafood Seaweed and fish

In [7]:
categories_df = pd.DataFrame(categories)

In [9]:
for instance in session.query(Category):
    print(instance.Description)

2019-01-27 20:15:03,448 INFO sqlalchemy.engine.base.Engine SELECT "Category"."Id" AS "Category_Id", "Category"."CategoryName" AS "Category_CategoryName", "Category"."Description" AS "Category_Description"
FROM "Category"
2019-01-27 20:15:03,451 INFO sqlalchemy.engine.base.Engine ()
Soft drinks, coffees, teas, beers, and ales
Sweet and savory sauces, relishes, spreads, and seasonings
Desserts, candies, and sweet breads
Cheeses
Breads, crackers, pasta, and cereal
Prepared meats
Dried fruit and bean curd
Seaweed and fish

In [10]:
countries = []
for instance in session.query(Customer):
    countries.append(instance.Country)

2019-01-27 20:15:19,574 INFO sqlalchemy.engine.base.Engine SELECT "Customer"."Id" AS "Customer_Id", "Customer"."CompanyName" AS "Customer_CompanyName", "Customer"."ContactName" AS "Customer_ContactName", "Customer"."ContactTitle" AS "Customer_ContactTitle", "Customer"."Address" AS "Customer_Address", "Customer"."City" AS "Customer_City", "Customer"."Region" AS "Customer_Region", "Customer"."PostalCode" AS "Customer_PostalCode", "Customer"."Country" AS "Customer_Country", "Customer"."Phone" AS "Customer_Phone", "Customer"."Fax" AS "Customer_Fax"
FROM "Customer"
2019-01-27 20:15:19,575 INFO sqlalchemy.engine.base.Engine ()

In [11]:
countries_df = pd.DataFrame(countries)
countries_df[0].value_counts()

USA            13
France         11
Germany        11
Brazil          9
UK              7
Spain           5
Mexico          5
Venezuela       4
Argentina       3
Italy           3
Canada          3
Switzerland     2
Denmark         2
Austria         2
Sweden          2
Belgium         2
Portugal        2
Finland         2
Norway          1
Ireland         1
Poland          1
Name: 0, dtype: int64

In [12]:
regions = []
for instance in session.query(Customer):
    regions.append(instance.Region)

regions_df = pd.DataFrame(regions)
regions_df[0].value_counts()

2019-01-27 20:15:27,313 INFO sqlalchemy.engine.base.Engine SELECT "Customer"."Id" AS "Customer_Id", "Customer"."CompanyName" AS "Customer_CompanyName", "Customer"."ContactName" AS "Customer_ContactName", "Customer"."ContactTitle" AS "Customer_ContactTitle", "Customer"."Address" AS "Customer_Address", "Customer"."City" AS "Customer_City", "Customer"."Region" AS "Customer_Region", "Customer"."PostalCode" AS "Customer_PostalCode", "Customer"."Country" AS "Customer_Country", "Customer"."Phone" AS "Customer_Phone", "Customer"."Fax" AS "Customer_Fax"
FROM "Customer"
2019-01-27 20:15:27,314 INFO sqlalchemy.engine.base.Engine ()

Western Europe     28
North America      16
South America      16
Southern Europe    10
British Isles       8
Central America     5
Northern Europe     4
Scandinavia         3
Eastern Europe      1
Name: 0, dtype: int64

In [ ]:
names = []
for instance in session.query(Customer):
    names.append(instance.ContactName)
    
names_df = pd.DataFrame(names)
names_df[0].value_counts()

In [ ]:
len(set(names))

In [69]:
#print(session.query(Customer, Order).filter(Customer.Id==Order.CustomerId).all())

In [ ]:
session.query(Customer).column_descriptions

In [18]:
result = session.execute('''SELECT *
                            FROM Customer
                        ;''')

2019-01-26 15:57:22,647 INFO sqlalchemy.engine.base.Engine SELECT *
                            FROM Customer
                        ;
2019-01-26 15:57:22,650 INFO sqlalchemy.engine.base.Engine ()

In [19]:
customer_df = pd.DataFrame(result.fetchall())

In [21]:
customer_df.shape

(91, 11)

## Hypothesis 1
Do discounts have a statistically significant effect on the number of products customers order? If so, at what level(s) of discount?

product (quantity) ordered by customers, no discount

product (quantity) order by customers, wiht discount

H0: Discount does not have an effect on the number of products ordered by a customer. Control = Treatment

H1: Discount has an effect on the number of products ordered by a customer. Control < or > Treament