# Final Project Submission
Please fill out:

-  Student name: Steven Rosa
-  Student pace: part time
-  Scheduled project review date/time: Mon 4 Feb 2019 2pm EST
-  Instructor name: Jeff Herman
-  Blog post URL:

# Northwind Data Analysis

In [11]:
#Import libraries
import sqlalchemy #ORM
from sqlalchemy import create_engine #To connect to the database
from sqlalchemy.orm import Session, sessionmaker #To interact with the database as object
from sqlalchemy import inspect #To look at tables and column names

import pandas as pd #To read in parts of the database as DataFrames

In [16]:
from sqlalchemy import MetaData #to reflect the engine object 
from sqlalchemy.ext.automap import automap_base # to create mappings from the reflection

In [ ]:
#Write functions

In [5]:
#Instantiate a session of the ORM
#Connect to the sqlite database file
engine = create_engine('sqlite:///Northwind_small.sqlite', echo = True)
#Bind a session object to the engine
Session = sessionmaker(bind=engine)
#Instantiate the session
session = Session()

In [6]:
#An object to get a first look at the database
inspector = inspect(engine)

2019-01-24 20:34:46,986 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-01-24 20:34:46,989 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:34:46,991 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-01-24 20:34:46,992 INFO sqlalchemy.engine.base.Engine ()

In [20]:
table_names = inspector.get_table_names()

In [8]:
print(inspector.get_columns('Category'))

2019-01-24 20:35:17,679 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Category")
2019-01-24 20:35:17,680 INFO sqlalchemy.engine.base.Engine ()
[{'name': 'Id', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 1}, {'name': 'CategoryName', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Description', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}]

In [10]:
#Pull raw results from the database
conn = engine.connect()
results = conn.execute('''SELECT *
                            FROM Category
                        ;''')
print(results.fetchall())

2019-01-24 20:37:14,230 INFO sqlalchemy.engine.base.Engine SELECT *
                            FROM Category
                        ;
2019-01-24 20:37:14,232 INFO sqlalchemy.engine.base.Engine ()
[(1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'), (2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'), (3, 'Confections', 'Desserts, candies, and sweet breads'), (4, 'Dairy Products', 'Cheeses'), (5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal'), (6, 'Meat/Poultry', 'Prepared meats'), (7, 'Produce', 'Dried fruit and bean curd'), (8, 'Seafood', 'Seaweed and fish')]

In [13]:
results = conn.execute('''SELECT *
                            FROM Category
                        ;''')
df = pd.DataFrame(results.fetchall())
df.head()

2019-01-24 20:39:56,719 INFO sqlalchemy.engine.base.Engine SELECT *
                            FROM Category
                        ;
2019-01-24 20:39:56,720 INFO sqlalchemy.engine.base.Engine ()

   0               1                                                  2
0  1       Beverages        Soft drinks, coffees, teas, beers, and ales
1  2      Condiments  Sweet and savory sauces, relishes, spreads, an...
2  3     Confections                Desserts, candies, and sweet breads
3  4  Dairy Products                                            Cheeses
4  5  Grains/Cereals                Breads, crackers, pasta, and cereal

In [14]:
df = pd.read_sql_query('''SELECT * 
                           FROM Category
                       ;''', engine)
df.head()

2019-01-24 20:41:26,710 INFO sqlalchemy.engine.base.Engine SELECT *
                           FROM Category
                       ;
2019-01-24 20:41:26,710 INFO sqlalchemy.engine.base.Engine ()

   Id    CategoryName                                        Description
0   1       Beverages        Soft drinks, coffees, teas, beers, and ales
1   2      Condiments  Sweet and savory sauces, relishes, spreads, an...
2   3     Confections                Desserts, candies, and sweet breads
3   4  Dairy Products                                            Cheeses
4   5  Grains/Cereals                Breads, crackers, pasta, and cereal

In [17]:
#Instantiate metadata reflect the engine
metadata = MetaData()
metadata.reflect(engine)

2019-01-24 20:46:40,380 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-01-24 20:46:40,380 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,382 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Category")
2019-01-24 20:46:40,383 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,384 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Category' AND type = 'table'
2019-01-24 20:46:40,385 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,418 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Category")
2019-01-24 20:46:40,419 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,420 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Category' AND type = 'table'
2019-01-24 20:46:40,421 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,423 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Category")
2019-01-24 20:46:40,425 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,426 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Category")
2019-01-24 20:46:40,429 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,431 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Category' AND type = 'table'
2019-01-24 20:46:40,432 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,435 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Customer")
2019-01-24 20:46:40,436 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,438 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Customer' AND type = 'table'
2019-01-24 20:46:40,439 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,440 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Customer")
2019-01-24 20:46:40,441 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,442 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Customer' AND type = 'table'
2019-01-24 20:46:40,442 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,443 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Customer")
2019-01-24 20:46:40,444 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,445 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Customer")
2019-01-24 20:46:40,449 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,455 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_Customer_1")
2019-01-24 20:46:40,456 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,457 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Customer' AND type = 'table'
2019-01-24 20:46:40,458 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,459 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("CustomerCustomerDemo")
2019-01-24 20:46:40,460 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,461 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerCustomerDemo' AND type = 'table'
2019-01-24 20:46:40,462 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,463 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("CustomerCustomerDemo")
2019-01-24 20:46:40,464 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,466 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerCustomerDemo' AND type = 'table'
2019-01-24 20:46:40,467 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,468 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("CustomerCustomerDemo")
2019-01-24 20:46:40,468 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,469 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("CustomerCustomerDemo")
2019-01-24 20:46:40,470 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,471 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_CustomerCustomerDemo_1")
2019-01-24 20:46:40,471 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,472 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerCustomerDemo' AND type = 'table'
2019-01-24 20:46:40,472 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,473 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("CustomerDemographic")
2019-01-24 20:46:40,474 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,475 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerDemographic' AND type = 'table'
2019-01-24 20:46:40,476 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,477 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("CustomerDemographic")
2019-01-24 20:46:40,477 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,478 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerDemographic' AND type = 'table'
2019-01-24 20:46:40,479 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,480 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("CustomerDemographic")
2019-01-24 20:46:40,480 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,481 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("CustomerDemographic")
2019-01-24 20:46:40,481 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,482 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_CustomerDemographic_1")
2019-01-24 20:46:40,483 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,484 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerDemographic' AND type = 'table'
2019-01-24 20:46:40,484 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,485 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Employee")
2019-01-24 20:46:40,486 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,488 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Employee' AND type = 'table'
2019-01-24 20:46:40,488 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,489 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Employee")
2019-01-24 20:46:40,490 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,491 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Employee' AND type = 'table'
2019-01-24 20:46:40,491 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,492 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Employee")
2019-01-24 20:46:40,493 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,493 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Employee")
2019-01-24 20:46:40,494 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,495 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Employee' AND type = 'table'
2019-01-24 20:46:40,495 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,497 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("EmployeeTerritory")
2019-01-24 20:46:40,497 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,498 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'EmployeeTerritory' AND type = 'table'
2019-01-24 20:46:40,499 INFO sqlalchemy.engine.base.Engine ()

2019-01-24 20:46:40,500 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("EmployeeTerritory")
2019-01-24 20:46:40,500 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,501 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'EmployeeTerritory' AND type = 'table'
2019-01-24 20:46:40,501 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,502 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("EmployeeTerritory")
2019-01-24 20:46:40,503 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,504 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("EmployeeTerritory")
2019-01-24 20:46:40,504 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,505 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_EmployeeTerritory_1")
2019-01-24 20:46:40,505 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,507 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'EmployeeTerritory' AND type = 'table'
2019-01-24 20:46:40,508 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,509 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Order")
2019-01-24 20:46:40,509 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,511 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Order' AND type = 'table'
2019-01-24 20:46:40,512 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,513 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Order")
2019-01-24 20:46:40,513 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,514 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Order' AND type = 'table'
2019-01-24 20:46:40,515 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,515 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Order")
2019-01-24 20:46:40,516 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,517 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Order")
2019-01-24 20:46:40,518 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,518 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Order' AND type = 'table'
2019-01-24 20:46:40,519 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,520 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("OrderDetail")
2019-01-24 20:46:40,521 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,522 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'OrderDetail' AND type = 'table'
2019-01-24 20:46:40,523 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,524 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("OrderDetail")
2019-01-24 20:46:40,524 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,525 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'OrderDetail' AND type = 'table'
2019-01-24 20:46:40,525 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,526 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("OrderDetail")
2019-01-24 20:46:40,527 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,528 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("OrderDetail")
2019-01-24 20:46:40,528 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,529 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_OrderDetail_1")
2019-01-24 20:46:40,530 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,531 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'OrderDetail' AND type = 'table'
2019-01-24 20:46:40,532 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,533 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Product")
2019-01-24 20:46:40,534 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,536 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Product' AND type = 'table'
2019-01-24 20:46:40,536 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,537 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Product")
2019-01-24 20:46:40,538 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,539 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Product' AND type = 'table'
2019-01-24 20:46:40,539 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,540 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Product")
2019-01-24 20:46:40,541 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,541 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Product")
2019-01-24 20:46:40,542 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,543 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Product' AND type = 'table'
2019-01-24 20:46:40,543 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,544 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Region")
2019-01-24 20:46:40,545 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,546 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Region' AND type = 'table'
2019-01-24 20:46:40,546 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,547 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Region")
2019-01-24 20:46:40,548 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,548 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Region' AND type = 'table'
2019-01-24 20:46:40,549 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,550 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Region")
2019-01-24 20:46:40,550 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,551 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Region")
2019-01-24 20:46:40,552 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,553 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Region' AND type = 'table'
2019-01-24 20:46:40,553 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,554 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Shipper")
2019-01-24 20:46:40,555 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,556 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Shipper' AND type = 'table'
2019-01-24 20:46:40,562 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,565 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Shipper")
2019-01-24 20:46:40,566 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,567 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Shipper' AND type = 'table'
2019-01-24 20:46:40,567 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,568 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Shipper")
2019-01-24 20:46:40,568 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,569 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Shipper")
2019-01-24 20:46:40,570 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,571 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Shipper' AND type = 'table'
2019-01-24 20:46:40,571 INFO sqlalchemy.engine.base.Engine ()

2019-01-24 20:46:40,572 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Supplier")
2019-01-24 20:46:40,573 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,574 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Supplier' AND type = 'table'
2019-01-24 20:46:40,575 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,576 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Supplier")
2019-01-24 20:46:40,577 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,577 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Supplier' AND type = 'table'
2019-01-24 20:46:40,578 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,579 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Supplier")
2019-01-24 20:46:40,579 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,580 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Supplier")
2019-01-24 20:46:40,583 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,584 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Supplier' AND type = 'table'
2019-01-24 20:46:40,584 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,586 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Territory")
2019-01-24 20:46:40,586 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,588 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Territory' AND type = 'table'
2019-01-24 20:46:40,588 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,590 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Territory")
2019-01-24 20:46:40,590 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,591 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Territory' AND type = 'table'
2019-01-24 20:46:40,591 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,592 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Territory")
2019-01-24 20:46:40,593 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,594 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Territory")
2019-01-24 20:46:40,594 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,595 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_Territory_1")
2019-01-24 20:46:40,596 INFO sqlalchemy.engine.base.Engine ()
2019-01-24 20:46:40,597 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Territory' AND type = 'table'
2019-01-24 20:46:40,597 INFO sqlalchemy.engine.base.Engine ()

In [19]:
#Create mappings to treat the database elements as OOP objects
Base = automap_base(metadata=metadata)
Base.prepare()

In [ ]:
#['Category', 'Customer', 'CustomerCustomerDemo', 'CustomerDemographic', 
#'Employee', 'EmployeeTerritory', 'Order', 'OrderDetail', 'Product', 'Region', 'Shipper', 'Supplier', 'Territory']

In [26]:
#Create an object for each table
Category = Base.classes.Category
Customer = Base.classes.Customer
CustomerCustomerDemo = Base.classes.CustomerCustomerDemo
CustomerDemographic = Base.classes.CustomerDemographic
Employee = Base.classes.Employee
EmployeeTerritory = Base.classes.EmployeeTerritory
Order = Base.classes.Order
OrderDetail = Base.classes.OrderDetail
Product = Base.classes.Product
Region = Base.classes.Region
Shipper = Base.classes.Shipper
Supplier = Base.classes.Supplier
Territory = Base.classes.Territory

In [28]:
for instance in session.query(Category):
    print(instance)

2019-01-24 20:58:25,671 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-24 20:58:25,673 INFO sqlalchemy.engine.base.Engine SELECT "Category"."Id" AS "Category_Id", "Category"."CategoryName" AS "Category_CategoryName", "Category"."Description" AS "Category_Description"
FROM "Category"
2019-01-24 20:58:25,673 INFO sqlalchemy.engine.base.Engine ()
<sqlalchemy.ext.automap.Category object at 0x00000000089C5630>
<sqlalchemy.ext.automap.Category object at 0x00000000089C56A0>
<sqlalchemy.ext.automap.Category object at 0x00000000089C5710>
<sqlalchemy.ext.automap.Category object at 0x00000000089C5780>
<sqlalchemy.ext.automap.Category object at 0x00000000089C57F0>
<sqlalchemy.ext.automap.Category object at 0x00000000089C5860>
<sqlalchemy.ext.automap.Category object at 0x00000000089C58D0>
<sqlalchemy.ext.automap.Category object at 0x00000000089C5940>